

 
<script src="//code.jivosite.com/widget/3YbiIBsSKw" async></script>

 <style>
    .btn-group button, buttonx {
      background-color: #4CAF50; /* Green background */
      border: 1px solid green; /* Green border */
      color: white; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }
    
    .btn-group button, buttonx:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: #3e8e41;
    }
    .btn-group buttonx:hover {
      background-color: none;
    }
    </style>
         
    
        <head>
      
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>Rush-Forextrading.com</title>
        <link href="/styles/custom.css" rel="stylesheet" type="text/css">
        <link href="/styles/hover.css" rel="stylesheet" type="text/css">
        <link href="/styles/animate.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
         <meta http-equiv="refresh" content="300">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
        <link rel="icon" href="/styles/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
        <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/styles/custom_back.css" rel="stylesheet" type="text/css">
        <script src="/styles/jquery.js" type="text/javascript"></script>
        <script src="/styles/wow.js"></script>
        <script src="/styles/wow.min.js"></script>
        <script type="text/javascript" src="/styles/bootstrap.min.js"></script>
        <script src="/styles/setting.js" type="text/javascript"></script>
    
    
        <script type="text/javascript">
        //// Get the CryptoCurrency Information from the API
        jQuery.ajax({
            url: "https://min-api.cryptocompare.com/data/pricemulti",
            data: "fsyms=BTC,ETH,DASH,LTC&tsyms=USD",
            dataType : 'json',
        }).done(function(data) {
            // console.log( "BTC : " + data.BTC.USD + ", ETH : " + data.ETH.USD + ", DASH : " + data.DASH.USD, LTC : " + data.LTC.USD);
            jQuery(".dashCoin").html('$' + data.DASH.USD);
            jQuery(".ethCoin").html('$' + data.ETH.USD);
            jQuery(".bitCoin").html('$' + data.BTC.USD);
            jQuery(".liteCoin").html('$' + data.LTC.USD);
        }).fail(function() {
            console.log( "API error" );
        });
    </script>
    
        <script type="text/javascript">
        $(document).ready(function() {
            $(".cal2").click(function() {
                $(".calculate_ctn").toggle();
                $(".calculate_ctn").addClass("animated lightSpeedIn");
            });
        });
    </script>
    
    
    
    <script type="text/javascript">
        var tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
        var tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");
    
        function GetClock(){
            var tzOffset = -5;//set this to the number of hours offset from UTC
    
            var d=new Date();
            var dx=d.toGMTString();
            dx=dx.substr(0,dx.length -3);
            d.setTime(Date.parse(dx))
            d.setHours(d.getHours()+tzOffset);
            var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate();
            var nhour=d.getHours(),nmin=d.getMinutes(),ap;
            if(nhour==0){ap=" AM";nhour=12;}
            else if(nhour<12){ap=" AM";}
            else if(nhour==12){ap=" PM";}
            else if(nhour>12){ap=" PM";nhour-=12;}
    
            if(nmin<=9) nmin="0"+nmin;
    
            document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+" "+nhour+":"+nmin+ap+"";
        }
    
        window.onload=function(){
            GetClock();
            setInterval(GetClock,1000);
        }
    </script>
    
    
    
    <style id="stylish-1" class="stylish" type="text/css"></style>
    
    
    
    <body style="zoom: 1;"><div class="headerContainer">
        <div class="headerInner fadeInLeft wow"> <a href="?a=home" id="logo"></a>
            <p>1 BTC: <span class="bitCoin">$9384.42</span></p>
            <div class="hdRight">
                <div class="mainNavRight">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                    <li><a class="btn_acc hvr-sweep-to-right" href="/dashboard">account</a></li>
                            <li><a class="btn_dep hvr-sweep-to-right" href="/deposit">deposit</a></li>
                            <li><a class="btn_withd hvr-sweep-to-right" href="/deposit">Trade Center</a></li>
                            
                            <li><a class="btn_trans hvr-sweep-to-right" href="/logout">Logout</a></li>							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <style>
        
        marquee{
            color:black;
            
        }
    </style>
        
    <script>
                         function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");
    
      /* Select the text field */
      copyText.select();
    
      /* Copy the text inside the text field */
      document.execCommand("copy");
    
      /* Alert the copied text */
      alert("Copied the wallet address: " + copyText.value);
    }
           </script> 
           
           <script>
                         function b1() {
      /* Get the text field */
      var copyText = document.getElementById("b");
    
      /* Select the text field */
      copyText.select();
    
      /* Copy the text inside the text field */
      document.execCommand("copy");
    
      /* Alert the copied text */
      alert("Copied the wallet address: " + copyText.value);
    }
           </script> 
           
            <script>
                         function c1() {
      /* Get the text field */
      var copyText = document.getElementById("c");
    
      /* Select the text field */
      copyText.select();
    
      /* Copy the text inside the text field */
      document.execCommand("copy");
    
      /* Alert the copied text */
      alert("Copied the wallet address: " + copyText.value);
    }
           </script>
            <script>
                         function d1() {
      /* Get the text field */
      var copyText = document.getElementById("d");
    
      /* Select the text field */
      copyText.select();
    
      /* Copy the text inside the text field */
      document.execCommand("copy");
    
      /* Alert the copied text */
      alert("Copied the wallet address: " + copyText.value);
    }
           </script>
           
            <script>
                         function e1() {
      /* Get the text field */
      var copyText = document.getElementById("e");
    
      /* Select the text field */
      copyText.select();
    
      /* Copy the text inside the text field */
      document.execCommand("copy");
    
      /* Alert the copied text */
      alert("Copied the wallet address: " + copyText.value);
    }
    </script>
    <div class="account_contentContainer">
        <div class="account_contentInner">
          <div class="account_title">
            <div class="account_title_Left">
              <div class="user"><img src="/img/IMG_2850.jpeg"  width="110px" height="100px" style="border: 3px solid #F5A108; border-radius: 12px;" /></div>
              <p>Hello, <span><%= req.user.fullname %></span></p>
              <div class="clearfix">
                
              </div>
            </div>
    
    
    
    
            <div class="account_title_Right">
              <p>Your Personal Affiliate Link:</p>
              <a href="https://Rush-Forextrading.com//?ref=<%=req.user.username%>"> https://Rush-Forextrading.com//?ref=<%=req.user.username%></a>
            </div>
            <div class="clearfix"></div>
          </div>
                <div class="alert alert-success">
                <marquee scrolldelay:10;="" vspace="5" hspace="30">
       <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Jenni2 withdrew $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>3565
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Tressie1 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>6
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Fidelia2 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
    
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Ginny3 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Yadira3 withdrew $<script type="text/javascript"> 
        var min=300; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Francis1deposit $<script type="text/javascript"> 
        var min=30; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
    
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Margret16 withdrew  $<script type="text/javascript"> 
        var min=300; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>6
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script> Lera2 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Olene31 withdrew $<script type="text/javascript"> 
        var min=350; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>4
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                     
                </script> Nakia13 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>8
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Robbin7 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>1
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>arlie111 withdrew $<script type="text/javascript"> 
        var min=350; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>2
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Lee1 deposit $<script type="text/javascript"> 
        var min=350; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>6
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Cayla3 withdrew $<script type="text/javascript"> 
        var min=350; 
        var max=700;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>0
    
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Sandi3 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Maris1 withdrew <script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>7
    
    
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Corinna3 deposit $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>9
     <script>
                    var a = ["Nadine",  "Roxanne","Cynthia","Verena","Fidelia","Wilford", "Amal","Guillermo","Robbin","Tawna" ,"Lee","Gwenn", "Sandi","Olene","Azzie","Katharyn","Coral", "Shelley" ,"Elvis","Francine","Yadira","Tanesha","Lani",
                    "Ilene","Tressie","aquanda","Ginny","Alyse","Bari","Chun","  Luise", "Maris","Hisak","Gwenda","Cayla","Lorriane","Lane", "Lera","Jenni","Margret","Corinna","Yuonne","Kathryn","Terica" ,"Francis","Claretha","Chana", "arlie","Nakia"  
    
    ];
    var b = ["1", "2", "3","4", "5", "6","7", "8", "9","10", "12", "13","11", "22", "113","111", "1112", "43","14", "62", "83","16", "28", "31","13", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3"];
    
    var rA = Math.floor(Math.random()*a.length);
    var rB = Math.floor(Math.random()*b.length);
    var name = a[rA] + b[rB];
    document.write(name);
                    
                    
                </script>Verena2 withdrew $<script type="text/javascript"> 
        var min=3500; 
        var max=7000;  
        var random =Math.floor(Math.random() * (+max - +min)) + +min; 
        document.write("" + random );  
    </script>5
    </marquee>
    </div>
        
                <div class="account_ctn">
                    <div class="account_ctn_Left">
                        <ul>
                         <li><a class="btn_acc hvr-sweep-to-right" href="/dashboard">account</a></li>
                <li><a class="btn_dep hvr-sweep-to-right" href="/deposit">deposit</a></li>
                <li><a class="btn_withd hvr-sweep-to-right" href="/withdraw">withdraw</a></li>
              
                <li><a class="btn_dep hvr-sweep-to-right" href="/roi">My Trades</a></li>
                
               
               
                <!-- <li><a class="btn_securi hvr-sweep-to-right" href="verify">verify account</a></li> -->
                    <li><a class="btn_trans hvr-sweep-to-right" href="/roi">transactions</a></li>
                            
                        
                            <li><a class="btn_refer hvr-sweep-to-right" href="/refer">referrals</a></li>
                            <li><a class="btn_setting hvr-sweep-to-right" href="/profile">settings</a></li>
                        
                            
                        
                            <li><a class="btn_securi hvr-sweep-to-right" href="#">support</a></li>
                        </ul>
                    </div>
        
    <div class="mgm" style="display: none;">
    <div class="txt" style="color:black;">New User from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
    </div>
    
    <style>
    .mgm {
        border-radius: 7px;
        position: fixed;
        z-index: 90;
        bottom: 80px;
        right: 50px;
        background: #fff;
        padding: 10px 27px;
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
    }
    .mgm a {
        font-weight: 700;
        display: block;
        color:#f2d516;
    }
    .mgm a, .mgm a:active {
        transition: all .2s ease;
        color:#f2d516;
    }
    </style>
    
     <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
       
       
        <script data-cfasync="false" src=""></script>
        <script type="text/javascript">
    var listCountries = ['South Africa', 'USA', 'Germany', 'France', 'Italy', 'South Africa', 'Australia', 'South Africa', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'South Africa', 'South Africa', 'Venezuela', 'South Africa', 'Sweden', 'South Africa', 'South Africa', 'Italy', 'South Africa', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'South Africa', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
        var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        
        var run = setInterval(request, interval);
        
        function request() {
            clearInterval(run);
            interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
            var country = listCountries[Math.floor(Math.random() * listCountries.length)];
            var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
            var msg = 'Someone from <b>' + country + '</b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
            $(".mgm .txt").html(msg);
            $(".mgm").stop(true).fadeIn(300);
            window.setTimeout(function() {
                $(".mgm").stop(true).fadeOut(300);
            }, 6000);
            run = setInterval(request, interval);
        }
    </script>     
         
          <div class="account_ctn_Right">
              
           
              
                                                
                          
                             <h3><font color="black">PROFILE INFORMATION</font></h3>
                                 <div align="center">
    <div class="btn-group">
      
      <buttonx>My Profile</buttonx>
     <a href="/withdraw"><button>Withdrawal</button></a>
     
    
    </div></div>
    
        
    <div style="background: #191828;
      color: #efedef;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.01em;
      line-height: 1.6em;
      margin: 0;
      padding: 100px;">
        
        
     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <div style="background: #191828;
      color: #efedef;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.01em;
      line-height: 1.6em;
      margin: 0;
      padding: 100px;">  <div class="card-body">
                                        <div class="user-avatar text-center d-block">
                                            <img src="/icoo.png" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                                        </div>
                                        <div class="text-center">
                                            <h2 class="font-24 mb-0"><%= req.user.fullname %></h2>
                                            <a href="#"></a>
                                        </div>
                                 
                                    <div class="card-body border-top text-center">
                                        <h3 class="font-16">Contact Information</h3>
                                        <div class="">
                                            <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i><%= req.user.email %></li>
                                        </ul>
                                        </div><br>
                                        <h3 class="font-16">Phone Number</h3>
                                        <div class="">
                                            <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><i class="fas fa-fw fa-phone mr-2"></i><%= req.user.phone %></li>
                                        </ul>
                                 
                                    </div>
                                   </div>
                                </div>   </div>
                                   </div>  
                                    </div>
                                   </div>
                                </div>   </div>
                                   </div>
                                </div>
                                
                                </div>
                                
                                             </div></div></div></div>
    <div style="align:center;"><img src="tk.gif" width="100%"></div>
    <div class="solidContainer">
      <div class="solidInner zoomIn wow">
        <div class="solid"> <a href="#" class="solid1"></a> <a href="#" class="solid2"></a> <a href="#" class="solid3"></a> <a href="#" class="solid4"></a> <a href="#" class="solid5"></a> <a href="#" class="solid6"></a> <a href="#" class="solid7"></a> <a href="#" class="solid8"></a> </div>
      </div>
    </div>
    <div class="footerContainer">
      <div class="footerInner">
        <div class="ft-row1">
          <h3>© 2021. <a href="?a=home">Rush-Forextrading</a> ALL RIGHTS RESERVED</h3>
        </div>